"" Source your .vimrc
"source ~/.vimrc

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

"" Base Settings
"" ========================================================

set scrolloff=10
set relativenumber
set number
set showmode
set showcmd

"Serach improvements
set ignorecase
set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "

"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set nerdtree

" Easymotion settings
set easymotion
set notimeout

"" Key mappings
"" ========================================================

" Jeżeli chce napisać “jk” wciskam dwa razy “j”, chwile czekam i “k”
inoremap jk <Esc>

" Tab navigation
nnoremap <C-l> :tabnext<CR>
nnoremap <C-h> :tabprev<CR>

"" Leader commands
"" ========================================================

" [C]omment lines
map <leader>c <action>(CommentByLineComment)

" [Q]uit active tab
map <leader>q <action>(CloseContent)

" [S]earch
"" --------------------------------------------------------
" search [e]very where
map <leader>se :action SearchEverywhere<cr>
" search [c]lass
map <leader>sc :action GotoClass<cr>
" search [f]ile
map <leader>sf :action GotoFile<cr>
" search [a]ction
map <leader>sa :action GotoAction<cr>
" search [i]n all files
map <leader>si :action FindInPath<cr>

" [G]o to code
"" --------------------------------------------------------
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gt <Action>(GoToTypeDeclaration)
nmap <leader>gu <Action>(ShowUsages)

" [R]efactoring
map <leader>rr <Action>(RenameElement)

" [L]sp format
map <leader>l <Action>(ReformatCode)

" Jump around with easymotion
map <leader>j <Plug>(easymotion-s)
